html{
    background-color: rgb(12, 8, 70);
    font-family: 'sans-serif';

}
body{
    color: rgb(253, 206, 119);

}
.hi{
    text-align: center;
    font-size: 50px;
    
}
.base{
    position:absolute;
    left: 10px;
    top: 300px;

}
.rail{
    position: absolute;
    left: 10px;
    top: 580px;
}
.tool{
    position: absolute;
    left: 100px;
    top: 566px;}
.image{
    position: relative;
}
.info{
    position: absolute;
    left: 140px;
    top: 671px;
    width: 200px;
    height: 4px;
    overflow: hidden;
}
