html{
    background-color: rgb(12, 8, 70);
    font-family: 'sans-serif';
    overflow: hidden;

}
body{
    color: rgb(253, 206, 119);

}
.flag{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
}

.printer {
    position: relative;
    width: 500px;   /* Set your desired printer width */
    height: 500px;  /* Keeps alignment stable */
    background-color: transparent;
}

.printer img {
    position: absolute;
    left: 0;
    top: 0;
    width: 10% !important;
    height: 10% !important;
    max-width: 10% !important;
    pointer-events: none;
}

/* Offset the rail inside the printer */
.printer .rail {
    width: 10% !important; /* size of the tool head */
}

/* Offset the tool so it sits on the rail */
.printer .tool {

    width: 20%; /* size of the tool head */
}

.image {
    width: 50%;
    height: 50%;
    max-width: 50%;
}

.info{
    position: absolute;
    left: 240px;
    top: 749px;
    width: 310px;
    height: 4px;
    overflow: hidden;
    font-size: 20px;
    background-color: transparent;
}
.intro{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}
.rp-btn{
    border-radius:20px;
    padding: 5%;
    background-color: rgb(232,114,4);
    color: white;
    font-size:20px;
}


.options-box div {
    padding: 10px;
    background-color: transparent;
    display: flex;
    align-items: center; /* Centers vertically */
    transform: translateY(550%);
}

.phone {
    margin: 0 auto;
    height: 50%;
    background-color: rgb(8, 6, 48) !important;
    border: 5px solid rgb(232,114,4);
    border-radius: 20px;
    transform: translateY(-350%);
}

.bg-color-dark {
    background-color: rgb(8, 6, 48) !important;
}

.bg-color {
    background-color: rgb(12, 8, 70) !important;
}

.text-white {
    color: white !important;
}